<!--
 * @Description: ------------ fileDescription -----------
 * @Author: snows_l snows_l@163.com
 * @Date: 2023-05-30 09:19:49
 * @LastEditors: snows_l snows_l@163.com
 * @LastEditTime: 2023-06-01 14:07:22
 * @FilePath: /my-vue3-vite-app/src/views/DIalog/index.vue
-->
<template>
  <div class="container-warp">
    <!-- <el-button type="primary" size="small" @click="handleShowDialog">弹框</el-button> -->
    <x-dialog ref="dialog" title="Dialog" v-model="isShow" :before-open="handleOpen" :before-close="handleClose">
      <span>好的</span>
      <template #footer>
        <el-button type="info" size="small" @click="isShow = false">取消</el-button>
        <el-button type="primary" size="small" @click="handleSubmit">确认</el-button>
      </template>
    </x-dialog>
  </div>
</template>

<script lang="ts" setup>
import XDialog from '@/components/XDialog/index.vue';
import { ref } from 'vue';
const isShow = ref(false);
const handleOpen = () => {
  isShow.value = true;
};

const handleClose = () => {
  isShow.value = false;
};

const handleSubmit = () => {
  isShow.value = false;
};
</script>

<style lang="scss" scoped>
.container-warp {
  width: 100%;
  height: 100%;
}
</style>
