<!--
 * @Description: ------------ fileDescription -----------
 * @Author: snows_l snows_l@163.com
 * @Date: 2023-12-04 12:27:54
 * @LastEditors: snows_l snows_l@163.com
 * @LastEditTime: 2023-12-04 15:53:00
 * @FilePath: /vue3+vite+pinia_classicsCase/src/layout/CustomFooter/index.vue
-->
<template>
  <div class="footer-warp">
    <span>© 2023-2023 snows_l@163.com</span>
  </div>
</template>

<script lang="ts" setup></script>

<style lang="scss" scoped>
.footer-warp {
  width: 100%;
  height: 100%;
  padding: 5px 20px;
  background-color: var(--contentBgc);
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
