<!--
 * @Description: ------------ 菜单递归组件 -----------
 * @Author: snows_l snows_l@163.com
 * @Date: 2023-12-04 14:42:17
 * @LastEditors: snows_l snows_l@163.com
 * @LastEditTime: 2023-12-04 16:02:20
 * @FilePath: /vue3+vite+pinia_classicsCase/src/layout/SliderMenu/CustomSubMenu.vue
-->
<template>
  <el-sub-menu v-if="item.children && item.children.length" :index="item.path">
    <template #title style="border-bottom: 1px solid #ccc">
      <div class="sub-menu-title" style="width: 100%">{{ item.meta.title }}</div>
    </template>
    <template v-for="single in item.children">
      <CustomSubMenu :item="single"></CustomSubMenu>
    </template>
  </el-sub-menu>
  <!-- 一 -->
  <el-menu-item v-else :index="item.path" @click="handleJump(item)">
    <span>{{ item.meta.title }}</span>
  </el-menu-item>
</template>

<script lang="ts">
export default {
  name: 'CustomSubMenu'
};
</script>

<script lang="ts" setup>
import { useRouter } from 'vue-router';
const router = useRouter();
const props = defineProps({
  item: {
    type: Object,
    required: true
  }
});

interface RouteInterface {
  path: string;
  name: string;
  children?: object[];
  [key: string]: any;
}

// 跳转
const handleJump = (item: RouteInterface) => {
  router.push(item.path);
};
</script>

<style lang="scss" scoped>
.el-menu-item {
  border-bottom: 1px solid #ccc;
}

.el-menu {
  .el-sub-menu {
    .el-sub-menu__title {
      border-bottom: 1px solid #ccc;
    }
  }
}
</style>
