<!--
 * @Description: ------------ 菜单 -----------
 * @Author: snows_l snows_l@163.com
 * @Date: 2023-12-01 10:06:00
 * @LastEditors: snows_l snows_l@163.com
 * @LastEditTime: 2023-12-04 16:03:11
 * @FilePath: /vue3+vite+pinia_classicsCase/src/layout/sliderMenu/index.vue
-->
<template>
  <div class="layout-slider">
    <el-menu style="border-right: 0" :default-active="active" :collapse="isCollapse" class="el-menu-vertical" @open="handleOpen" @close="handleClose">
      <template v-for="item in whiteRouters">
        <CustomSubMenu :item="item"></CustomSubMenu>
      </template>
    </el-menu>
  </div>
</template>

<script lang="ts" setup>
import { whiteRouters } from '@/router/index';
import { ref, Ref } from 'vue';
import { useRoute } from 'vue-router';
import CustomSubMenu from './CustomSubMenu.vue';
const route = useRoute();

const active: Ref<string> = ref(route.fullPath);
const isCollapse = ref(false);

// 菜单展开
const handleOpen = () => {};

// 菜单闭合
const handleClose = () => {};
</script>

<style lang="scss" scoped>
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
}
</style>
