// 定义（在全局样式中定义）
@font-face {
  font-family: 优设标题黑5;
  src: url('@a/fontFamily/优设标题黑.ttf');
}

@font-face {
  font-family: apple;
  src: url('@a/fontFamily/apple.ttf');
}

@font-face {
  font-family: 华文行楷;
  src: url('@a/fontFamily/STXINGKA.TTF');
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

:root {
  --containerBgc: #f5f2f0;
  --contentBgc: #fff;
}
