<!--
 * @Description: ------------ fileDescription -----------
 * @Author: snows_l snows_l@163.com
 * @Date: 2023-11-16 11:14:47
 * @LastEditors: snows_l snows_l@163.com
 * @LastEditTime: 2023-11-16 11:14:59
 * @FilePath: /vue3+vite+pinia_classicsCase/src/views/index/index.vue
-->
<template>
  <div class="container-warp">首页</div>
</template>

<script lang="ts" setup></script>

<style lang="scss" scoped>
.container-warp {
  width: 100%;
  height: 100%;
}
</style>
