<!--
 * @Description: ------ 文件描述 ------
 * @Creater: snows_l snows_l@163.com
 * @Date: 2023-01-12 15:13:15
 * @LastEditors: snows_l snows_l@163.com
 * @LastEditTime: 2023-05-30 14:10:32
 * @FilePath: /my-vue3-vite-app/src/views/reg.vue
-->
<template>
  <div class="container-warp">reg</div>
</template>

<script lang="ts" setup></script>

<style lang="scss" scoped>
.container-warp {
  width: 100%;
  height: 100%;
}
</style>
