<!--
 * @Description: ------------ fileDescription -----------
 * @Author: snows_l snows_l@163.com
 * @Date: 2023-05-26 17:35:47
 * @LastEditors: snows_l snows_l@163.com
 * @LastEditTime: 2023-12-04 15:39:56
 * @FilePath: /vue3+vite+pinia_classicsCase/src/components/XDialog/index.vue
-->
<template>
  <div class="container-warp">
    <el-button type="primary" :size="btnSize" @click="handleShowDialog">{{ btnText }}</el-button>
    <el-dialog v-if="dialogOrDrawer == 'dialog'" :title="title" v-model="isShowDialog" :width="size ? size : '50%'" :before-close="beforeClose">
      <slot></slot>
      <template #footer>
        <slot name="footer"></slot>
      </template>
    </el-dialog>

    <el-drawer
      v-if="dialogOrDrawer == 'drawer'"
      :title="title"
      v-model="isShowDialog"
      direction="rtl"
      :size="size ? size : '30%'"
      :before-close="beforeClose"
      :destroy-on-close="true"
      :show-close="true"
      :wrapperClosable="true">
      <slot></slot>
      <template #footer>
        <slot name="footer"></slot>
      </template>
    </el-drawer>
  </div>
</template>

<script lang="ts" setup>
import { usePGCStore } from '@/store/projectGloabalConfig';
import { onMounted, ref, watch } from 'vue';
interface Props {
  // 接口 ==> 是否必传以及类型
  modelValue: boolean;
  btnText?: string;
  btnSize?: string;
  title: string;
  beforeClose?: Function;
  beforeOpen?: Function;
  size?: string;
  [propsName: string]: any;
}

const props = withDefaults(defineProps<Props>(), {
  // 设置默认值（不必传的才设置默认值）
  size: '',
  btnText: '弹框',
  btnSize: 'small'
});

onMounted(() => {});

let PGC;
const dialogOrDrawer = ref<string>();
const themeColor = ref<string>();

// 在store中获取配置
const getConfig = () => {
  PGC = usePGCStore();
  dialogOrDrawer.value = PGC.dialogOrDrawer;
  themeColor.value = PGC.themeColor;
};

const emits = defineEmits(['update:modelValue']);
const isShowDialog = ref(props.modelValue);

watch(
  () => props.modelValue,
  (n, o) => {
    isShowDialog.value = n;
  },
  { immediate: true }
);

// 打开弹框
const handleShowDialog = () => {
  getConfig(); // 实时获取store中 配置 数据
  if (!!props.beforeOpen) props.beforeOpen();
  else emits('update:modelValue', true);
};

// 关闭弹框
const beforeClose = () => {
  if (!!props.beforeClose) props.beforeClose();
  else emits('update:modelValue', false);
};
</script>

<style lang="scss" scoped>
.container-warp {
  width: 100%;
  height: 100%;
  color: v-bind(themeColor);
}
</style>
