<!--
 * @Description: ------------ fileDescription -----------
 * @Author: snows_l snows_l@163.com
 * @Date: 2023-05-26 17:35:47
 * @LastEditors: snows_l snows_l@163.com
 * @LastEditTime: 2023-06-02 09:15:35
 * @FilePath: /my-vue3-vite-app/src/components/XDialog/index.vue
-->
<template>
  <div class="container-warp">
    <el-button type="primary" :size="btnSize" @click="handleShowDialog">{{ btnTitle }}</el-button>
    <el-dialog v-if="dialogOrDrawer == 'dialog'" v-bind="props">
      <slot></slot>
      <template #footer>
        <slot name="footer"></slot>
      </template>
    </el-dialog>

    <el-drawer v-if="dialogOrDrawer == 'drawer'" v-bind="props">
      <slot></slot>
      <template #footer>
        <slot name="footer"></slot>
      </template>
    </el-drawer>
  </div>
</template>

<script lang="ts" setup>
import { usePGCStore } from '@/store/projectGloabalConfig';
import { onMounted, watch } from 'vue';
interface Props {
  // 接口 ==> 是否必传以及类型
  modelValue: boolean;
  btnTitle?: string;
  btnSize?: string | '';
  beforeOpen?: Function;
  title: string;
  beforeClose?: Function;
  size?: string;
}

const props = withDefaults(defineProps<Props>(), {
  // 设置默认值（不必传的才设置默认值）
});

onMounted(() => {
  console.log('-------- props --------', props);
});

let PGC, dialogOrDrawer: string, themeColor: string;

// 在store中获取配置
const getConfig = () => {
  PGC = usePGCStore();
  dialogOrDrawer = PGC.dialogOrDrawer;
  themeColor = PGC.themeColor;
};

const emits = defineEmits(['update:modelValue']);
// const isShowDialog = ref(props.modelValue);

watch(
  () => props.modelValue,
  (n, o) => {
    // isShowDialog.value = n;
  },
  { immediate: true }
);

// 打开弹框
const handleShowDialog = () => {
  getConfig(); // 实时获取store中 配置 数据
  if (!!props.beforeOpen) props.beforeOpen();
  else emits('update:modelValue', true);
};

// 关闭弹框
// const beforeClose = () => {
//   if (!!props.beforeClose) props.beforeClose();
//   else emits('update:modelValue', false);
// };
</script>

<style lang="scss" scoped>
.container-warp {
  width: 100%;
  height: 100%;
  color: v-bind(themeColor);
}
</style>
