<!--
 * @Description: ------------ fileDescription -----------
 * @Author: snows_l snows_l@163.com
 * @Date: 2023-05-31 10:03:13
 * @LastEditors: snows_l snows_l@163.com
 * @LastEditTime: 2023-12-04 15:16:16
 * @FilePath: /vue3+vite+pinia_classicsCase/src/components/ProjectConfigDialog/index.vue
-->
<template>
  <el-icon @click="handleConfig"><Tools /></el-icon>
  <el-drawer
    title="项目全局配置"
    v-model="configVisible"
    direction="rtl"
    :append-to-body="true"
    size="30%"
    :before-close="hanldeCloseConfigDrawer"
    :destroy-on-close="true"
    :show-close="true"
    :wrapperClosable="true">
    <el-form :model="configForm" ref="configFormRef" :rules="rules" label-position="top" :inline="false" size="small">
      <el-form-item label="弹框的展示方式:" prop="dialogOrDrawer">
        <el-radio-group v-model="configForm.dialogOrDrawer">
          <el-radio label="dialog">弹 窗</el-radio>
          <el-radio label="drawer">抽 屉</el-radio>
        </el-radio-group>
      </el-form-item>

      <el-form-item label="主题色:" prop="themeColor">
        <el-color-picker v-model="configForm.themeColor" />
      </el-form-item>
      <el-form-item label="是否展示面包屑:" prop="isCrumb">
        <el-radio-group v-model="configForm.isCrumb">
          <el-radio :label="true">是</el-radio>
          <el-radio :label="false">否</el-radio>
        </el-radio-group>
      </el-form-item>

      <el-form-item label="是否展示Footer:" prop="isFooter">
        <el-radio-group v-model="configForm.isFooter">
          <el-radio :label="true">是</el-radio>
          <el-radio :label="false">否</el-radio>
        </el-radio-group>
      </el-form-item>
    </el-form>

    <template #footer>
      <el-button type="info" size="small" @click="configVisible = false">取消</el-button>
      <el-button type="primary" size="small" @click="handleSubmitConfig">确认</el-button>
    </template>
  </el-drawer>
</template>

<script lang="ts" setup>
import { usePGCStore } from '@/store/projectGloabalConfig';
import { reactive, ref } from 'vue';
/**
 * 项目配置
 *
 */
const PGC = usePGCStore();
const configVisible = ref<boolean>(false);
const configFormRef = ref<Element>();
const configForm = reactive({
  dialogOrDrawer: '',
  themeColor: '',
  isCrumb: true,
  isFooter: true
});

const rules = reactive({
  dialogOrDrawer: [{ required: true, message: '请选择弹框的展示方式', trigger: 'change' }],
  themeColor: [{ required: true, message: '请选择主题颜色', trigger: 'change' }],
  isCrumb: [{ required: true, message: '请选择是否展示面包屑', trigger: 'change' }],
  isFooter: [{ required: true, message: '请选择是否展示面包屑', trigger: 'change' }]
});

// 打开
const handleConfig = () => {
  configForm.dialogOrDrawer = PGC.dialogOrDrawer || 'dialog';
  configForm.themeColor = PGC.themeColor || '#eee';
  configForm.isCrumb = PGC.isCrumb;
  configVisible.value = true;
};
// 关闭
const hanldeCloseConfigDrawer = () => {
  configVisible.value = false;
};

// 提交项目配置
const handleSubmitConfig = () => {
  PGC.updateConfig(configForm);
  hanldeCloseConfigDrawer();
};
</script>

<style lang="scss" scoped>
.container-warp {
  width: 100%;
  height: 100%;
}
</style>
