<!--
 * @Description: ------------ fileDescription -----------
 * @Author: snows_l snows_l@163.com
 * @Date: 2023-11-30 15:22:13
 * @LastEditors: snows_l snows_l@163.com
 * @LastEditTime: 2023-12-01 09:18:56
 * @FilePath: /vue3+vite+pinia_classicsCase/src/views/Charts/index.vue
-->
<template>
  <div class="container-warp">
    <el-form :model="form" ref="form" :rules="rules" label-width="120px" :inline="true" size="small">
      <el-form-item s label="时间：">
        <el-date-picker v-model:value="form.date" type="datetimerange" range-separator="至" start-placeholder="开始时间" end-placeholder="结束时间" />
      </el-form-item>
      <el-form-item s label="URL地址：">
        <el-input v-model="form.type" placeholder="请输入URL地址" size="small" clearable @change=""></el-input>
      </el-form-item>
      <el-form-item style="">
        <el-button type="primary" @click="onSubmit">查询</el-button>
      </el-form-item>
    </el-form>

    <div class="space"></div>

    <el-table :data="tableData" style="width: 100%">
      <el-table-column align="center" prop="jname" label="时间" />
      <el-table-column align="center" prop="name" label="用户地址" />
      <el-table-column align="center" prop="address" label="目的地址" />
      <el-table-column align="center" prop="ssyy" label="URL地址" />
    </el-table>

    <div class="charts-out-warp">
      <FlowCount></FlowCount>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { reactive, ref } from 'vue';
import FlowCount from './components/flowCount.vue';
const form = reactive({
  date: [],
  type: null
});
const rules = ref({
  date: []
});
let flag = ref('flag1');

const onSubmit = () => {};

const tableData = [
  { jname: '2023-11-30 15:11:12', name: '7.5.12.31', address: '120.19.2.3', ssyy: 'http://xbox.com/sje.html' },
  { jname: '2023-11-30 15:11:12', name: '7.5.12.31', address: '120.19.2.3', ssyy: 'http://xbox.com/sje.html' },
  { jname: '2023-11-30 15:11:12', name: '7.5.12.31', address: '120.19.2.3', ssyy: 'http://xbox.com/sje.html' },
  { jname: '2023-11-30 15:11:12', name: '7.5.12.31', address: '120.19.2.3', ssyy: 'http://xbox.com/sje.html' },
  { jname: '2023-11-30 15:11:12', name: '7.5.12.31', address: '120.19.2.3', ssyy: 'http://xbox.com/sje.html' },
  { jname: '2023-11-30 15:11:12', name: '7.5.12.31', address: '120.19.2.3', ssyy: 'http://xbox.com/sje.html' },
  { jname: '2023-11-30 15:11:12', name: '7.5.12.31', address: '120.19.2.3', ssyy: 'http://xbox.com/sje.html' },
  { jname: '2023-11-30 15:11:12', name: '7.5.12.31', address: '120.19.2.3', ssyy: 'http://xbox.com/sje.html' },
  { jname: '2023-11-30 15:11:12', name: '7.5.12.31', address: '120.19.2.3', ssyy: 'http://xbox.com/sje.html' },
  { jname: '2023-11-30 15:11:12', name: '7.5.12.31', address: '120.19.2.3', ssyy: 'http://xbox.com/sje.html' }
];
</script>

<style lang="scss" scoped>
.container-warp {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  .btn {
    display: block;
    margin-top: 20px;
    margin-left: 400px;
  }
}
.space {
  width: 100%;
  height: 16px;
  background-color: #f5f2f0;
}

.charts-out-warp {
  height: 100%;
}
</style>
