<!--
 * @Description: ------ 文件描述 ------
 * @Creater: snows_l snows_l@163.com
 * @Date: 2022-09-01 11:25:19
 * @LastEditors: snows_l snows_l@163.com
 * @LastEditTime: 2023-11-16 11:25:14
 * @FilePath: /vue3+vite+pinia_classicsCase/src/App.vue
-->
<template>
  <router-view></router-view>
</template>

<script setup lang="ts"></script>

<style></style>
