<!--
 * @Description: ------------ fileDescription -----------
 * @Author: snows_l snows_l@163.com
 * @Date: 2023-11-16 11:16:48
 * @LastEditors: snows_l snows_l@163.com
 * @LastEditTime: 2023-12-04 16:06:08
 * @FilePath: /vue3+vite+pinia_classicsCase/src/layout/index.vue
-->
<template>
  <div class="layout-container">
    <!-- header -->
    <div class="header">
      <div class="header-left">
        <div class="x-title">没有伤痕累累哪来的粗糙肉厚，自古英雄多磨难!!</div>
      </div>
      <div class="header-right">
        <project-config-dialog></project-config-dialog>
      </div>
    </div>
    <div class="layout-slider-content">
      <!-- 侧边栏 菜单 -->
      <SliderMenu class="layout-slider"></SliderMenu>

      <!-- main -->
      <div class="layout-content">
        <!-- 面包屑 -->
        <div v-if="isCrumb" class="crumb-warp">
          <CrumbMenu></CrumbMenu>
        </div>

        <!-- 内容 -->
        <div class="content-out-warp">
          <div class="content-warp-padding">
            <div class="content-container-warp">
              <router-view></router-view>
            </div>
          </div>
        </div>

        <!-- footer -->
        <div v-if="isFooter" class="footer-warp">
          <CustomFooter></CustomFooter>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import ProjectConfigDialog from '@/components/ProjectConfigDialog/index.vue';
import CrumbMenu from '@/layout/CrumbMenu/index.vue';
import CustomFooter from '@/layout/CustomFooter/index.vue';
import SliderMenu from '@/layout/SliderMenu/index.vue';
import { usePGCStore } from '@/store/projectGloabalConfig';
import { Ref, ref, watch } from 'vue';

const PGC = usePGCStore();

const isCrumb: Ref<boolean> = ref(PGC.isCrumb);
const isFooter: Ref<boolean> = ref(PGC.isFooter);

// 面包屑的高度
const crumbHeight: Ref<string> = ref(isCrumb.value ? '40px' : '0');
// footer的高度
const footerHeight: Ref<string> = ref(isFooter.value ? '40px' : '0');
// 面包屑、footer的高度之和
const notContentHeight: Ref<string> = ref(parseInt(crumbHeight.value) + parseInt(footerHeight.value) + 'px');

watch(
  () => PGC.isCrumb,
  n => {
    isCrumb.value = PGC.isCrumb;
    if (n) {
      crumbHeight.value = '40px';
    } else {
      crumbHeight.value = '0';
    }
    notContentHeight.value = parseInt(crumbHeight.value) + parseInt(footerHeight.value) + 'px';
  }
);
watch(
  () => PGC.isFooter,
  n => {
    isFooter.value = PGC.isFooter;

    if (n) {
      footerHeight.value = '40px';
    } else {
      footerHeight.value = '0';
    }
    notContentHeight.value = parseInt(crumbHeight.value) + parseInt(footerHeight.value) + 'px';
  }
);
</script>

<style lang="scss" scoped>
$sliderWidth: 300px;

.layout-container {
  width: 100%;
  height: 100%;
  background-color: #f5f2f0;
  overflow: hidden;
  .header {
    height: 60px;
    background-image: radial-gradient(transparent 1px, #ffffff 1px);
    background-size: 4px 4px;
    backdrop-filter: saturate(50%) blur(4px);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #999;
  }
  .layout-slider-content {
    height: calc(100% - 60px);
    width: 100%;
    display: flex;
    .layout-slider {
      width: $sliderWidth;
      height: 100%;
      background-color: #fff;
      overflow-x: hidden;
      overflow-y: auto;
    }
    .layout-content {
      width: calc(100% - $sliderWidth);
      height: 100%;
      overflow: hidden auto;
      border-left: 1px solid #ccc;
      .crumb-warp {
        height: v-bind(crumbHeight);
        border-bottom: 1px solid #ccc;
      }
      .footer-warp {
        height: v-bind(footerHeight);
      }
      .content-out-warp {
        width: 100%;
        height: calc(100% - (v-bind(notContentHeight)));
        padding: 10px 16px;
        background-color: var(--containerBgc);
        .content-warp-padding {
          width: 100%;
          height: 100%;
          background-color: var(--contentBgc);
          padding: 20px;
          overflow: hidden;
          .content-container-warp {
            width: 100%;
            height: 100%;
            background-color: var(--contentBgc);
            overflow-y: auto;
          }
        }
      }
    }
  }
}
</style>
